article.city {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  padding: 15px 25px;
  h4 {
    font-size: 32px;
    line-height: 40px;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding-bottom: 10px;
  }
  .date-data {
    font-weight: 200;
    .day {
      font-size: 22px;
      letter-spacing: 1px;
      text-transform: uppercase;
      padding-bottom: 5px;
    }
  }
  .main-data {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
  }
  .this-day {
    display: flex;
    overflow-x: auto;
    padding: 20px 0;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
    ::-webkit-scrollbar{
      display: none;
    }
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    > div {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 10px 15px;
      min-width: 110px;
      i {
        font-size: 40px;
      }
      .time {
        font-size: 14px;
        opacity: .6;
        padding: 5px 0;
      }
    }
  }
  .temperature {
    .main {
      display: flex;
      align-items: flex-start;
      font-size: 42px;
      span {
        font-size: 18px;
      }
    }
  }
  .thumbnail {
    i {
      font-size: 62px;
      opacity: .7;
    }
  }
  .table-days {
    padding-top: 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    .data {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .weather-block {
      display: flex;
      & > div{
        text-align: center;
        width: 40px;
      }
    }
    .table-header i {
      font-size: 28px;
    }
    .table-body p {
      font-size: 14px;
      opacity: .7;
    }
    .day-item {
      padding-bottom: 5px;
      &:last-child {
        padding-bottom: 0;
      }
    }
  }

  @media all and (max-width: 400px) {
    padding: 10px 15px;
    h4 {
      font-size: 24px;
      line-height: 28px;
      padding-bottom: 5px;
    }
    .date-data {
      .day {
        font-size: 18px;
      }
    }
    .main-data {
      padding-bottom: 10px;
    }
    .temperature .main{
      font-size: 30px;
    }
    .thumbnail i{
      font-size: 40px;
    }
  }
  .this-day {
    padding: 10px 0;
    > div {
      max-width: 100px;
      padding: 5px 10px;
    }
    .temperature .main {
      font-size: 24px;
    }
  }
}
