* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font;
  font-weight: 500;
}

.container {
  width: 100%;
  max-width: $mw_container;
  margin: 0 auto;
}

#app {
  min-height: 100vh;
  display: flex;
}
