@font-face {
  font-family: 'Montserrat';
  src: url('/assets/fonts/montserrat/Montserrat-ExtraLight.woff2') format('woff2'),
  url('/assets/fonts/montserrat/Montserrat-ExtraLight.woff') format('woff'),
  url('/assets/fonts/montserrat/Montserrat-ExtraLight.svg#Montserrat-ExtraLight') format('svg');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/assets/fonts/montserrat/Montserrat-ExtraBold.woff2') format('woff2'),
  url('/assets/fonts/montserrat/Montserrat-ExtraBold.woff') format('woff'),
  url('/assets/fonts/montserrat/Montserrat-ExtraBold.svg#Montserrat-ExtraBold') format('svg');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/assets/fonts/montserrat/Montserrat-Medium.woff2') format('woff2'),
  url('/assets/fonts/montserrat/Montserrat-Medium.woff') format('woff'),
  url('/assets/fonts/montserrat/Montserrat-Medium.svg#Montserrat-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
}
