<template>
  <main class="home-page">
    <WeatherList/>
  </main>
</template>

<script>
import WeatherList from '../components/weather/WeatherList'

export default {
  name: 'home',
  components: { WeatherList }
}
</script>
