<template>
    <article :class="`city city-${city.id}`">
        <h4>{{city.name}}</h4>
        <div class="weather-description" v-if="weather">
            <div class="main-data">
                <div class="date-data">
                    <p class="day">{{getDate(mainWeather.dt).day}}</p>
                    <p class="date">{{getDate(mainWeather.dt).date}}</p>
                </div>
                <div class="thumbnail">
                    <i class="fimanager" :class="$store.getters['icons/getIconByID'](mainWeather.weather[0].id)"></i>
                </div>
                <div class="temperature">
                    <p class="helper"></p>
                    <p class="main">
                        {{Math.ceil(mainWeather.main.temp)}}
                        <span v-html="unit.icon"></span>
                    </p>
                </div>
            </div>
            <div class="this-day">
                <div v-for="(item, index) in getWeatherPerDay(weather.list)" :key="index">
                    <i class="fimanager" :data-icon-id="item.weather[0].id" :class="$store.getters['icons/getIconByID'](item.weather[0].id, getDate(item.dt).hours)"></i>
                    <p class="time">{{getDate(item.dt).time}}</p>
                    <div class="temperature">
                        <p class="helper"></p>
                        <p class="main">
                            {{Math.ceil(item.main.temp)}}
                            <span v-html="unit.icon"></span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="next-days table-days">
                <div class="table-header data">
                    <div class="day"></div>
                    <div class="weather-block">
                        <div class="night">
                            <i class="fimanager flaticon-049-cloudy"></i>
                        </div>
                        <div class="daytime">
                            <i class="fimanager flaticon-050-cloudy"></i>
                        </div>
                    </div>
                </div>
                <div v-for="(item, index) in getNextDays(weather.list)" :key="index" class="day-item">
                    <div class="table-body data"  v-if="item.night && item.daytime">
                        <div class="day">{{item.day}}</div>
                        <div class="weather-block">
                            <div class="night">
                                <p>{{Math.ceil(item.night)}}<span></span></p>
                            </div>
                            <div class="daytime">
                                <p>{{Math.ceil(item.daytime)}}<span></span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
</template>

<script>
export default {
  name: 'WeatherItem',
  props: ['city'],
  computed: {
    weather () {
      return this.$store.state.weather.list.find(weather => weather.city.id === this.city.id)
    },
    mainWeather () {
      return this.weather.list[0]
    },
    unit () {
      return this.$store.getters['units/getActiveUnit']
    }
  },
  methods: {
    getDate (utc) {
      let date = new Date(utc * 1000)

      return {
        day: this.getDayDescription(date.getDay()),
        hours: date.getHours(),
        time: `${('0' + (date.getHours() + 1)).slice(-2)} : 00`,
        date: `${date.getDate()} / ${('0' + (date.getMonth() + 1)).slice(-2)} / ${date.getFullYear()}`
      }
    },
    getDayDescription (number) {
      let day = ''

      switch (number) {
        case 0: day = 'Sunday'
          break
        case 1: day = 'Monday'
          break
        case 2: day = 'Tuesday'
          break
        case 3: day = 'Wednesday'
          break
        case 4: day = 'Thursday'
          break
        case 5: day = 'Friday'
          break
        case 6: day = 'Saturday'
          break
      }

      return day
    },
    getWeatherPerDay (list) {
      return list.slice(0, 8)
    },
    getNextDays (data) {
      let list = []

      if (data) {
        data.map((item) => {
          let dateData = this.getDate(item.dt)
          let weather = list.find(item => item.day === dateData.day)
          let newWeather = false

          if (typeof weather === 'undefined') {
            newWeather = true
            weather = {
              date: dateData.date,
              day: dateData.day
            }
          }

          if (dateData.hours > 5 && dateData.hours < 19) {
            if (typeof weather.daytime === 'undefined') {
              weather.daytime = item.main.temp
            } else {
              weather.daytime = item.main.temp > weather.daytime ? item.main.temp : weather.daytime
            }
          } else {
            if (typeof weather.night === 'undefined') {
              weather.night = item.main.temp
            } else {
              weather.night = item.main.temp < weather.night ? item.main.temp : weather.night
            }
          }

          if (newWeather) {
            list = [...list, weather]
          }
        })
      }

      return list
    }
  }
}
</script>
