<template>
    <section class="cities-container">
        <carousel :responsive="{0:{items:1, touchDrag:false}, 1024:{items:2}}" :margin="20" :nav="false" :dots="true" :key="cities.length">
            <WeatherItem v-for="(city, index) in cities" :key="index" :city="city"/>
        </carousel>
    </section>
</template>

<script>
import WeatherItem from './WeatherItem'
import carousel from 'vue-owl-carousel'

export default {
  name: 'WeatherList',
  components: { WeatherItem, carousel },
  computed: {
    cities () {
      return this.$store.state.cities.list
    }
  }
}
</script>
