#sidebar {
  background-color: $sidebar_bg;
  color: $main_color;
  height: 100vh;
  padding: 30px;
  z-index: 5;
  width: 25%;
  position: sticky;
  right: 0;
  top: 0;
  .sidebar-helper-button {
    display: none;
  }
  .units {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    button {
      width: 36px;
      height: 36px;
      color: $main_color;
      margin-right: 10px;
      border: 1px solid $main_color;
      &:last-child {
        margin-right: 0;
      }
      &.active,
      &:hover {
        transition: .3s;
        background-color: $main_color;
        color: $sidebar_bg;
      }
    }
  }
  .cities {
    list-style: none;
    padding: 20px 0;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    li {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 5px 20px;
      i {
        color: white;
        opacity: .6;
        transition: .3s;
        &:hover {
          transition: .3s;
          opacity: 1;
        }
      }
    }
  }
  .current-location {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    font-weight: 200;
    span {
      font-weight: 500;
    }
  }
  .search-block {
    > p {
      font-size: 12px;
      font-weight: 300;
      line-height: 20px;
      padding: 5px 0;
      display: block;
      opacity: .5;
    }
    .search {
      display: flex;
      input {
        outline: none;
        width: 70%;
        padding: 0 10px;
      }
      button {
        width: 30%;
        background-color: rgba(255, 255, 255, 0.1);
        line-height: 32px;
        color: white;
        border: 1px solid transparent;
        border-left: 1px solid white;
        transition: .3s;
        &:hover {
          transition: .3s;
          border: 1px solid white;
        }
      }
    }
    .search-result {
      list-style: none;
      padding: 20px;
      li {
        display: flex;
        align-items: center;
        padding: 5px 0;
        justify-content: space-between;
      }
    }
  }
  button {
    color: white;
    transition: .3s;
    opacity: .5;
    &:hover {
      transition: .3s;
      opacity: 1;
    }
  }

  @media all and (max-width: 1024px) {
    width: 35%;
    .search-block {
      .search {
        display: block;
        input {
          width: 100%;
          margin-bottom: 4px;
          line-height: 32px;
        }
        button {
          border: 1px solid transparent;
          width: 100%;
        }
      }
    }
  }

  @media all and (max-width: 650px) {
    width: 60%;
    position: fixed;
    z-index: 5;
    padding: 80px 15px 15px;
    right: -60%;
    transition: .4s;
    &.mobile-open {
      transition: .4s;
      right: 0;
    }
    .sidebar-helper-button {
      display: block;
    }
  }

  @media all and (max-width: 400px) {
    width: 100%;
    right: -100%;
  }
}

.sidebar-helper-button {
  position: absolute;
  z-index: 3;
  top: 20px;
  right: 20px;
  width: 45px;
  height: 45px;
  border: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 12px;
}
