.home-page {
  width: 75%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #C33764;
  background: linear-gradient(-45deg, #1D2671, #C33764);
  color: $main_color;
  padding: 5vh;

  @media all and (max-width: 1024px) {
    width: 65%;
  }

  @media all and (max-width: 650px) {
    width: 100%;
  }

  @media all and (max-width: 400px) {
    padding: 70px 20px 20px;
  }
}
