<template>
    <section id="sidebar" :class="{'mobile-open': $store.state.main.isOpenSidebar}">
        <button class="sidebar-helper-button" @click="toggleSidebar()">Close</button>
        <div class="units">
            <button v-for="(unit, index) in units" :class="{active: unit.id === activeUnit.id}" :key="index" @click="setActiveUnit(unit.id)">
                <span v-html="unit.icon"></span>
            </button>
        </div>
        <ul class="cities">
            <li v-for="(city, index) in cities" :key="index">
                {{city.name}}
                <button class="remove" @click="deleteCity(city.id)"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
            </li>
        </ul>
        <div class="current-location" v-if="userPosition.city">
            <p>Your city: <span>{{userPosition.city}}, {{userPosition.country}}</span></p>
            <button @click="setCityToCities(userPosition.id, userPosition.city, userPosition.country)" v-if="userPosition.id && !userPosition.isActiveCity" class="add-to-cities" title="Add city">
                <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
            </button>
        </div>
        <div class="search-block">
            <p>Input city & country index. Example: <span v-if="userPosition.city && userPosition.country">{{userPosition.city}},{{userPosition.country.toLowerCase()}}</span></p>
            <div class="search">
                <input v-model="search" placeholder="City">
                <button @click="findCity()">Search</button>
            </div>
            <ul class="search-result">
                <li v-for="(city, index) in searchResult" :key="index">
                    <span>{{city.name}}, {{city.sys.country}}</span>
                    <button @click="setCityToCities(city.id, city.name, city.sys.country)">
                        <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
                    </button>
                </li>
            </ul>
        </div>
    </section>
</template>

<script>
import { Weather } from '../api/weather'

const weather = new Weather()

export default {
  name: 'Sidebar',
  data () {
    return {
      search: '',
      searchResult: [],
      userPosition: {
        loc: null,
        city: null,
        country: null,
        isActiveCity: false,
        id: 0
      }
    }
  },
  computed: {
    cities () {
      return this.$store.state.cities.list
    },
    units () {
      return this.$store.state.units.list
    },
    activeUnit () {
      return this.$store.getters['units/getActiveUnit']
    }
  },
  created () {
    this.getUserPositionByIP()
  },
  methods: {
    deleteCity (id) {
      this.$store.dispatch('cities/deleteCity', id)
      this.userPosition.isActiveCity = this.$store.getters['cities/getCityByID'](id)
    },
    setActiveUnit (id) {
      this.$store.commit('units/setActiveID', id)
      this.$store.dispatch('weather/setListItem', { units: this.activeUnit.type })
    },
    findCity () {
      weather.getFindWeather({ q: this.search }).then(response => {
        if (response.status === 200) {
          this.searchResult = response.data.list
        }
      })
    },
    setCityToCities (id, name, country) {
      let list = [{ id, name, country }, ...this.$store.state.cities.list]

      this.$store.commit('cities/setCitiesList', list)
      this.userPosition.isActiveCity = this.$store.getters['cities/getCityByID'](id)
      this.search = ''
      this.searchResult = []

      localStorage.setItem('cities', JSON.stringify(list))
      this.$store.dispatch('weather/setListItem', { units: this.$store.getters['units/getActiveUnit'].type })
    },
    getUserPositionByIP () {
      const url = 'https://ipinfo.io/'
      this.$http.get(url).then(data => {
        this.userPosition.city = data.body.city
        this.userPosition.country = data.body.country
        this.userPosition.loc = data.body.loc
        weather.getFindWeather({ q: `${this.userPosition.city},${this.userPosition.country}`.toLowerCase() }).then(response => {
          if (response.status === 200) {
            this.userPosition.id = response.data.list[0].id
            this.userPosition.isActiveCity = this.$store.getters['cities/getCityByID'](this.userPosition.id)
          }
        })
      })
    },
    toggleSidebar () {
      this.$store.dispatch('main/toggleSidebar')
    }
  }
}
</script>
