@font-face {
  font-family: "Flaticon";
  src: url("/assets/fonts/flaticon-weather/Flaticon.eot");
  src: url("/assets/fonts/flaticon-weather/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("/assets/fonts/flaticon-weather/Flaticon.woff2") format("woff2"),
       url("/assets/fonts/flaticon-weather/Flaticon.woff") format("woff"),
       url("/assets/fonts/flaticon-weather/Flaticon.ttf") format("truetype"),
       url("/assets/fonts/flaticon-weather/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("/assets/fonts/flaticon-weather/Flaticon.svg#Flaticon") format("svg");
  }
}

.fimanager:before {
    display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.flaticon-001-rainy-day:before { content: "\f100"; }
.flaticon-002-windy:before { content: "\f101"; }
.flaticon-003-windy:before { content: "\f102"; }
.flaticon-004-rainbow:before { content: "\f103"; }
.flaticon-005-snowy:before { content: "\f104"; }
.flaticon-006-snowy:before { content: "\f105"; }
.flaticon-007-windy:before { content: "\f106"; }
.flaticon-008-windy:before { content: "\f107"; }
.flaticon-009-snowy:before { content: "\f108"; }
.flaticon-010-snowy:before { content: "\f109"; }
.flaticon-011-night:before { content: "\f10a"; }
.flaticon-012-rainy:before { content: "\f10b"; }
.flaticon-013-sun:before { content: "\f10c"; }
.flaticon-014-cyclone:before { content: "\f10d"; }
.flaticon-015-tornado:before { content: "\f10e"; }
.flaticon-016-icicles:before { content: "\f10f"; }
.flaticon-017-rain:before { content: "\f110"; }
.flaticon-018-snowflake:before { content: "\f111"; }
.flaticon-019-line-chart:before { content: "\f112"; }
.flaticon-020-line-chart:before { content: "\f113"; }
.flaticon-021-line-chart:before { content: "\f114"; }
.flaticon-022-line-chart:before { content: "\f115"; }
.flaticon-023-storm:before { content: "\f116"; }
.flaticon-024-line-chart:before { content: "\f117"; }
.flaticon-025-lightning:before { content: "\f118"; }
.flaticon-026-stars:before { content: "\f119"; }
.flaticon-027-thermometer:before { content: "\f11a"; }
.flaticon-028-thermometer:before { content: "\f11b"; }
.flaticon-029-thermometer:before { content: "\f11c"; }
.flaticon-030-thermometer:before { content: "\f11d"; }
.flaticon-031-thermometer:before { content: "\f11e"; }
.flaticon-032-thermometer:before { content: "\f11f"; }
.flaticon-033-eclipse:before { content: "\f120"; }
.flaticon-034-hail:before { content: "\f121"; }
.flaticon-035-smartphone:before { content: "\f122"; }
.flaticon-036-smartphone:before { content: "\f123"; }
.flaticon-037-smartphone:before { content: "\f124"; }
.flaticon-038-windsock:before { content: "\f125"; }
.flaticon-039-weathercock:before { content: "\f126"; }
.flaticon-040-snowfall:before { content: "\f127"; }
.flaticon-041-lightning:before { content: "\f128"; }
.flaticon-042-hail:before { content: "\f129"; }
.flaticon-043-drops:before { content: "\f12a"; }
.flaticon-044-cloudy:before { content: "\f12b"; }
.flaticon-045-storm:before { content: "\f12c"; }
.flaticon-046-sunrise:before { content: "\f12d"; }
.flaticon-047-storm:before { content: "\f12e"; }
.flaticon-048-storm:before { content: "\f12f"; }
.flaticon-049-cloudy:before { content: "\f130"; }
.flaticon-050-cloudy:before { content: "\f131"; }

$font-Flaticon-001-rainy-day: "\f100";
$font-Flaticon-002-windy: "\f101";
$font-Flaticon-003-windy: "\f102";
$font-Flaticon-004-rainbow: "\f103";
$font-Flaticon-005-snowy: "\f104";
$font-Flaticon-006-snowy: "\f105";
$font-Flaticon-007-windy: "\f106";
$font-Flaticon-008-windy: "\f107";
$font-Flaticon-009-snowy: "\f108";
$font-Flaticon-010-snowy: "\f109";
$font-Flaticon-011-night: "\f10a";
$font-Flaticon-012-rainy: "\f10b";
$font-Flaticon-013-sun: "\f10c";
$font-Flaticon-014-cyclone: "\f10d";
$font-Flaticon-015-tornado: "\f10e";
$font-Flaticon-016-icicles: "\f10f";
$font-Flaticon-017-rain: "\f110";
$font-Flaticon-018-snowflake: "\f111";
$font-Flaticon-019-line-chart: "\f112";
$font-Flaticon-020-line-chart: "\f113";
$font-Flaticon-021-line-chart: "\f114";
$font-Flaticon-022-line-chart: "\f115";
$font-Flaticon-023-storm: "\f116";
$font-Flaticon-024-line-chart: "\f117";
$font-Flaticon-025-lightning: "\f118";
$font-Flaticon-026-stars: "\f119";
$font-Flaticon-027-thermometer: "\f11a";
$font-Flaticon-028-thermometer: "\f11b";
$font-Flaticon-029-thermometer: "\f11c";
$font-Flaticon-030-thermometer: "\f11d";
$font-Flaticon-031-thermometer: "\f11e";
$font-Flaticon-032-thermometer: "\f11f";
$font-Flaticon-033-eclipse: "\f120";
$font-Flaticon-034-hail: "\f121";
$font-Flaticon-035-smartphone: "\f122";
$font-Flaticon-036-smartphone: "\f123";
$font-Flaticon-037-smartphone: "\f124";
$font-Flaticon-038-windsock: "\f125";
$font-Flaticon-039-weathercock: "\f126";
$font-Flaticon-040-snowfall: "\f127";
$font-Flaticon-041-lightning: "\f128";
$font-Flaticon-042-hail: "\f129";
$font-Flaticon-043-drops: "\f12a";
$font-Flaticon-044-cloudy: "\f12b";
$font-Flaticon-045-storm: "\f12c";
$font-Flaticon-046-sunrise: "\f12d";
$font-Flaticon-047-storm: "\f12e";
$font-Flaticon-048-storm: "\f12f";
$font-Flaticon-049-cloudy: "\f130";
$font-Flaticon-050-cloudy: "\f131";
