<template>
  <div id="app">
    <Home/>
    <Sidebar/>
    <button class="sidebar-helper-button" @click="toggleSidebar()">Menu</button>
  </div>
</template>

<script>
import Home from './templates/Home'
import Sidebar from './components/Sidebar'

export default {
  name: 'home',
  components: {
    Home,
    Sidebar
  },

  created () {
    if (localStorage.getItem('cities')) {
      this.$store.commit('cities/setCitiesList', JSON.parse(localStorage.getItem('cities')))
    }
    this.$store.dispatch('weather/setListItem', this.getDefaultParams())
  },

  methods: {
    getDefaultParams () {
      let unit = this.$store.getters['units/getActiveUnit']

      return {
        units: unit.type
      }
    },
    toggleSidebar () {
      this.$store.dispatch('main/toggleSidebar')
    }
  }
}
</script>

<style lang="scss">
  @import "assets/scss/style";
</style>
